<!doctype html>
<html lang="en">
  <head>
    <title>Trekbase</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href='/dist/styles.css'>
  </head>
  <body>
    <div>
      {{{body}}}
    </div>
    <script type="text/javascript" src={{logic}}></script>
  </body>
</html>