<!doctype html>
<html lang="en">
  <head>
    <title>Trekbase</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <style>
    </style>
  </head>
  <body>
    <div id='container'>
      {{{body}}}
    </div>
    <script type="text/javascript" src={{logic}}></script>
  </body>
</html>