<div class="container">
  <div class="main">
    <div class="logo">
    <img src="/public/assets/white_final_logo_transparent.svg"/>
    </div>
    <div class="quote">
      Bye Bye {{sendTo}}
    </div>
    <div class="subtext">
      {{htmlText}}
    </div>
    <div class="hastag">
      Please visit our website <a href="http://www.trekbase.org" style="text-decoration: none; color:#fff; font-weight: bold">www.trekbase.org</a>
    </div>
    <div class="hastag">
      #trekbaseadventures
    </div>
  </div>
</div>